@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  background-color: #f5f8ff;
  max-width: 1440px;
  margin: 0 auto;
}

/* shared styles */
.primary-color {
  color: #e95a08;
}
.display-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

/* navbar related styles */
.navbar {
  margin: 10px 150px;
}


.menu-cart-container {
  gap: 48px;
}
.menu ul {
  gap: 48px;
}
.menu-item {
  align-items: center;
}
#home a {
  font-size: 1rem;
  font-weight: bold;
  color: #252432;
}

#shop a,
#about-us a {
  font-size: 1rem;
  font-weight: 400;
  color: #8987a1;
}

.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}
.cart {
  align-items: center;
}
.cart p {
  font-size: 1rem;
  font-weight: 400;
}
/* hero banner related styles */
.hero-banner-section {
  margin: 120px 150px;
}

.hero-banner-info-container {
  align-items: end;
}
.fresh-flowers,
.always {
  font-weight: bold;
  font-size: 4rem;
}
.hero-banner-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}
.hero-banner-img-container {
  align-items: end;
}
.hero-banner-description {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* products section related styles */
.products-container-title-desc{
    text-align: center;
}
.products-section{
    margin: 0 150px ;
}
.prods-con-title
{
    font-size: 3.125rem;
    font-weight: bold;
}
.prods-con-title{
    margin-top: 16px;
    margin-bottom: 16px;
}
.prods-con-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    margin-left: 126px;
    margin-right: 126px;
}
.product-item{
    text-align: center;
}
.product-item button{
    background-color: #e95a08;
    padding: 19px 80px;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;

}
.product-item{
    width: 270px;
    height: 485px;
}
.product-item img{
    width: 100%;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.products-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* promo banner section related styles */
.promo-banner-section{
  margin-top:210px ;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 134px;
}
.img-badge-container {
  position: relative;
}

.trusted-badge {
  width: 286px;
  height: 286px;
  position: absolute; 
  top: -130px;
  left: 380px;
}

.promo-title{
  font-size:3rem;
  font-weight: bold;

}
.promo-desc{
  color: rgba(0, 0, 0, 0.5);
  font-size:1.375rem;
}
.promo-title-desc-container{
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 80px;
}
.promo-title,.promo-desc li{
  margin-bottom: 20px;
}


/* latest deal section related styles */
.latest-deal-section{
  margin: 130px 150px;
text-align: center;
}
.latest-deal-info-container h3{
  font-size: 3rem;
  font-weight: bold;
}
.latest-deal-info-container span{
  color: #e95a08;
}
.latest-deal-info-container p{
  color:  rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}

.latest-deal-img-banner-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}
#zabo{
  grid-column: span 2;
  border-radius: 22px;
  width: 753px;
  height: 424px;
}

.bloom-plant{
  background-image: url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  border-radius: 14px;
  width: 367px;
  height: 201px;
   display: flex; 
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 1.375rem;
  font-weight: bold;
  filter: brightness(0.9);

}
.left{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.zabo-plant{
  background-image: url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  filter: brightness(0.9);

}
.ana-plant{
  background-image: url("../assets/deal-ana.png");
  background-repeat: no-repeat;
   border-radius: 14px;
   width: 367px;
   height: 197px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 1.375rem;
  font-weight: bold;
  filter: brightness(0.9);
}
.latest-deal-img-banner-container a{
  color: white;
}
.latest-deal-img-banner-container h3{
  margin: 0px;
}




/* responsive media query */
@media screen and (max-width: 576px) {
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
    .products-section,.prods-con-description{
        margin: 0 auto;
    }
    
  .menu {
    display: none;
  }
  .navbar {
    margin: 13px 16px 28px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero-banner-container {
    flex-direction: column-reverse;
  }
  .hero-banner-section{
    margin: 0;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
  .hero-banner-info-container{
    margin-top: 1.75rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 20px);
  }
  .fresh-flowers,
.always {
  font-size: 1.5rem;
}
  .hero-banner-img-container{
    width: 100%;
    align-items: center;
  }
  .hero-banner-img-container img{
    width: 100%;
    margin: 0;
  }
  .promo-banner-container{
    flex-direction: column;

  }
  .trusted-badge{
    display: none;
  }
  .promo-banner-section,.promo-title-desc-container{
    margin: 41px 16px;
  }
  .latest-deal-img-banner-container{
    grid-template-columns: repeat(1,1fr);
    
  }
  .latest-deal-section{
    margin: 0 auto;
  }
  .zabo-plant,.ana-plant,.bloom-plant{
    width: 100%;
    background-size: cover;
    margin: 0px 10px;
    height: 185px;
  }
  #zabo{
    width: 95%; 
    height: 197px;
    background-size: cover;
    margin: 0px 10px;
    font-size: 1.375rem;
    height: 185px;
    
  }
}
